
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: inline-block;
    width: 25%;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
